@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #F4F1DE;
  --secondary-bg-color: #F2CC8F;
  --main-text-color: #3D405B;
  --main-overlay-color: #E07A5F20;
  --secondary-overlay-color: #81B29A20;
}

@layer base {
  html {
    background: var(--main-bg-color);
    background: linear-gradient(180deg, var(--main-bg-color) 0%, var(--secondary-bg-color) 100%);
    color: var(--main-text-color);
  }

  main {
    font-family: var(--font-inria);
  }
}

.font-serif {
  font-family: var(--font-inknut);
}

.bg-overlay {
  background: rgb(224,122,95);
  background: linear-gradient(90deg, var(--main-overlay-color) 0%, var(--secondary-overlay-color) 100%);
}


