@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #F4F1DE;
  --secondary-bg-color: #F2CC8F;
  --main-text-color: #3D405B;
  --main-overlay-color: #E07A5F20;
  --secondary-overlay-color: #81B29A20;
}

@layer base {
  html {
    font-family: "Inria Sans", system-ui, sans-serif;
    background: var(--main-bg-color);
    background: linear-gradient(180deg, var(--main-bg-color) 0%, var(--secondary-bg-color) 100%);
    color: var(--main-text-color);
  }

}

.bg-overlay {
  background: rgb(224,122,95);
  background: linear-gradient(90deg, var(--main-overlay-color) 0%, var(--secondary-overlay-color) 100%);
}


